<!--This HTML code has been created by WindySilver to create a widget for informing people of her current projects. This is the base code, distributed under the Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) licence. If you want to use this commercially, please contact WindySilver on DeviantArt.-->
 <!DOCTYPE html>
<html>
<body>
<!--This block is used for the blocks' usual style. "margin: auto;" makes the boxes centered, the display keeps them as a line, and for the background color you can either use a named color (e.g. red, blue, silver) or the color's hex code.-->
<style>
div { margin: auto; text-align:center; border: solid; margin: 1em; width: 28em; display: inline-block; background-color:#ffffff;}
</style>
<meta charset="UTF-8"> 
<!--This is the main block that holds everything together. It must be wider than the small boxes so that they fit in. The width depends on how many boxes you want into the same row. The background is made with gradient, and uses the colors the same way as "background-color" does.-->
<div style="width:95em; background-image:linear-gradient(#97ca97, white);">

<!--This is the topmost bar which is supposed to be the upmost block and inform about the contents of the widget. Its display keeps it on a separate line.-->
<div style="width: 92.5em; display:block;">
<p>This is the topmost box, made to be informative.</p>
<p>Latest version: 1.0 (14.1.2019)</p>
</div>

<div>
<p><i>This is a small box with an italic header.</i></p>
<p>This is text.</p>
<p>This is text.</p>
</div>

<div>
<p><b>This is a small box with a bold header.</b></p>
<p>This is text.</p>
<p>This is text.</p>
</div>

<div>
<p>This is a small box with a normal header.</p>
<p>This is text.</p>
<p>This is text.</p>
</div>

<div>
<p>There is a whole lot of things you can do to customize these with HTML!</p>
<p style="color:green;">Like change the text's color!</p>
<p style="text-align:right;">Or align it as you wish!</p>
</div>

<div style="background-color:black;">
<p style="color:white;">Or change the background color of a single box!</p>
<p style="color: white;">Or add more or not make as many lines to a box!</p>
</div>

<div>
<p>You can also add links here!</p>
<p>And if you use the HTML code itself, they'll work!</p>
<p>Try it, <a href="https://www.google.com/">this leads to <i>google.com</i>!</a></p>
<p>Oh, and that HTML tag used for the link can also used on DA to make links in your comments, descriptions etc! And that's not the only HTML tag that works the same way there. Pretty cool, right?</p>
</div>

<div style="text-align:left;">
<p>Naturally, if you use this like I do on DeviantArt and just generate a picture for a screencapture with this, the links won't work.</p>
<p>But as the widget it's made to be, it should work.</p>
<p>Since I don't currently have the Core Membership on DeviantArt, I cannot test this on custom boxes, but it should work.</p>
<p>On that note, if you have Core and would like to test this, send me a note. I'd love to confirm that this widget works as intended!</p>
</div>

<div>
<p>I'd say that's all.</p>
<p>There's a small instruction text included in the downloadable zip. If you need help, consult it.</p>
<p>If it and googling don't help, you can ask me if I can help.</p>
<p>No promises, though, I'm quite new to this stuff at the time of writing this. But I can try.</p>
<p>Bye!</p>
</div>

</div>

</body>
</html>