<!--This HTML code has been created by WindySilver to create a widget for displaying her quarterly art stats. You may not use this version of the widget. For the base source code, go to https://www.deviantart.com/windysilver . Thank you!-->
 <!DOCTYPE html>
<html>
<body>
<style>
div {margin: auto; text-align:center; border: solid; margin: 1em; width: 400px; display: inline-block; background-color:#d7d7d7;}
p{font-size: 28px; text-align: left; margin: 5px; font-family: Arial, sans-serif;}
.otsikot {font-weight: bold; font-size: 40px; color: #d7d7d7; -webkit-text-stroke: 1px; -webkit-text-stroke-color: black; text-align:center;}
li{text-align: left; font-size: 28px; font-family: Arial, sans-serif;}
</style>
<meta charset="UTF-8"> 


<div style="width:1000px; background-image:linear-gradient(#97ca97, #e5f5dc);">
<p class="otsikot">WindySilver's Art Progress</p>
<p class="otsikot">202_</p>
<p class="otsikot">Writing projects</p>
<br></br>

<span style="float:left;">
<p class="otsikot"><i>SW: Exceptional Jedi</i></p>
<div>
<p>_ new chapters written</p>
<p>_ story finished</p>
<p>_ oneshots written</p>
<p>_ words written</p>
<p>_ words a day</p>
</div>


<p class="otsikot"><i>TF: Behind Armada</i></p>
<div>
<p>_ new chapters writen</p>
<p>_ words written</p>
<p>_ words a Tuesday</p>
</div>

<p class="otsikot"><i>Greenfield</i></p>
<div>
<ul>
<li>_ new chapters written</li>
<li>_ new words written</li>
<li>_ words per day within _ days</li>
<li>Chapter in progress: _/20</li>
<li>Current wordcount: _</li>
</ul>
</div>


</span>


<span style="float:right;">
<p class="otsikot"><i>TFP: The Fate's Way</i></p>
<div>
<p>_ new chapters written</p>
<p>_ words written</p>
<p>_ words a Monday</p>
</div>


<p class="otsikot"><i>CL: Lyokostar 1</i></p>
<div>
<p>_ parts fully translated</p>
<p>_ story finished</p>
<p>_ oneshots finished</p>
<p>_ words translated</p>
<p> words a day</p>
</div>


<p class="otsikot"><i>CL: New War Remastered</i></p>
<div>
<p>_ parts fully translated</p>
<p>_ words translated</p>
<p>_ words a day</p>
</div>


<p class="otsikot"><i>Winx: The Path of Mysteries</i></p>
<div>
<p>Scrapped.</p>
</div>

</span>

</div>



<div style= "width:1200px; background-image:linear-gradient(#97ca97, #e5f5dc);">
<p class="otsikot">WindySilver's Art Progress</p>
<p class="otsikot">202_</p>
<p class="otsikot">Total</p>
<br></br>


<div style="width: 1100px;">
<ul>
<li>_ works of art done.</li>
<li>_ works of art currently standing by.</li>
<li>_ projects, _ literature and _ visual, scrapped.
<li>_ words written.</li>
<li>_ chapters fully written.</li>
<li>_ words translated from Finnish to English.</li>
<li>_ fully translated parts.</li>
<li>_ pieces of flash fiction written for Prose-ject 202_ and Flash Fiction 202_, totaling in _ words.</li>
<li>4 flash fiction written for Prose-ject's Flash Lit February, totaling in _ words.</li>
<li>9 stories for The Gauntlet, totaling in _ words.</li>
<li>_ other flash fictions written totaling in _ words.</li>
<li>_ poems written, totaling in _ words.</li>
<li>_ longer stories written, totaling in _ words..</li>
<li>_ Daily Deviation received.</li>
</ul>
<p>This makes the total words written and translated throughout the year _ words.</i>

</div>


<p class="otsikot">The average daily project wordcounts are:</p>
<div style="width:900px">
<ul>
<li>Monday: _ words.</li>
<li>Tuesday: _ words.</li>
<li>Other days: _ words.</li>
</ul>
<p>This makes the weekly average wordcount _ words.</p>
</div>

</div>



</body>
</html>