<!--This HTML code has been created by WindySilver to create a widget for displaying her quarterly art stats. You may not use this version of the widget. For the base source code, go to https://www.deviantart.com/windysilver . Thank you!-->
 <!DOCTYPE html>
<html>
<body>
<style>
div {margin: auto; text-align:center; border: solid; margin: 1em; width: 400px; display: inline-block; background-color:#d7d7d7;}
p{font-size: 28px; text-align: left; margin: 5px; font-family: Arial, sans-serif;}
.otsikot {font-weight: bold; font-size: 40px; color: #d7d7d7; -webkit-text-stroke: 1px; -webkit-text-stroke-color: black; text-align:center;}
li{text-align: left; font-size: 28px; font-family: Arial, sans-serif;}
</style>
<meta charset="UTF-8"> 


<div style="width:1000px; background-image:linear-gradient(#97ca97, #e5f5dc);">
<p class="otsikot">WindySilver's Art Progress</p>
<p class="otsikot">Q_ 202_</p>
<p class="otsikot">Writing projects</p>
<br></br>

<span style="float:left;">
<p class="otsikot"><i>SW: Exceptional Jedi</i></p>
<div>
<p>1 chapter finished</p>
<p>_ new chapters written</p>
<p>1 chapter in writing/editing</p>
<p>_ story finished</p>
<p>_ oneshots written</p>
<p>_ words written</p>
<p>_ words a day</p>
</div>


<p class="otsikot"><i>TF: Behind Armada</i></p>
<div>
<p>1 chapter finished</p>
<p>_ new chapters written</p>
<p>1 chapter in writing/editing</p>
<p>_ words written</p>
<p>_ words a Tuesday</p>
</div>

<p class="otsikot"><i>Greenfield</i></p>
<div>
<p>Worldbuilding: None</p>
<ul></ul>
<p>1 chapter finished</p>
<p>_ new chapters written</p>
<p>_ chapter in progress</p>
<p>_ new words written</p>
<p>_ words a day</p>
<p>Chapter in progress: _/20</p>
<p>Current wordcount: _</p>
</div>


</span>


<span style="float:right;">
<p class="otsikot"><i>TFP: The Fate's Way</i></p>
<div>
<p>1 chapter finished</p>
<p>_ new chapters written</p>
<p>1 chapter in writing/editing</p>
<p>_ words written</p>
<p>_ words a Monday</p>
</div>


<p class="otsikot"><i>CL: Lyokostar 1</i></p>
<div>
<p>1 part finished</p>
<p>_ parts fully translated</p>
<p>1 part in translation/finalization</p>
<p>_ story's translation finished</p>
<p>_ oneshot's translation finished</p>
<p>_ words translated</p>
<p>_ words a day</p>
</div>


<p class="otsikot"><i>CL: New War Remastered</i></p>
<div>
<p>1 part finished</p>
<p>_ parts fully translated</p>
<p>1 part in translation/finalization</p>
<p>_ words translated</p>
<p>_ words a day</p>
</div>

</div>


<div style= "width:1200px; background-image:linear-gradient(#97ca97, #e5f5dc);">
<p class="otsikot">WindySilver's Art Progress</p>
<p class="otsikot">Q_ 202_</p>
<p class="otsikot">Drawing projects</p>
<br></br>

<span style="float:left;">

<p class="otsikot"><i>LS 1: No Fire Without Smoke</i></p>
<div>
<p>Standing by until I've got other projects cleared.</p>
</div>

</span>


<span style="float: right;">
<p class="otsikot"><i>TFW</i> Silverwind's reference</p>
<div>
<p>Standing by. In need of rear view and side view.</p>
</div>

<p class="otsikot">A reference for Mary Wind</p>
<div>
<p>Currently standing by until I've finished other things.</p>
</div>

</span>

</div>


<div style= "width:1200px; background-image:linear-gradient(#97ca97, #e5f5dc);">
<p class="otsikot">WindySilver's Art Progress</p>
<p class="otsikot">Q_ 202_</p>
<p class="otsikot">Total</p>
<br></br>


<div style="width: 1100px;">
<ul>
<li>_ works of art done.</li>
<li>_ works of art currently standing by.</li>
<li>_ words written for my projects.</li>
<li>4 chapters finished.</li>
<li>_ chapters fully written.</li>
<li>_ chapters in progress.</li>
<li>_ chapters in editing.</li>
<li>_ story finished.</li>
<li>_ project oneshots written.</li>
<li>_ non-project oneshots written, totaling in _ additional words.</li>
<li>_ haiku/poem written, adding _ more words to the total.</li>
<li>This makes the total words written _ words.</li>
<li>_ words translated from Finnish to English</li>
<li>2 parts' translation finished.</li>
<li>_ fully translated parts.</li>
<li>_ parts in translation.</li>
<li>_ parts' translation in finalization.</li>
<li>_ story's translation finished.</li>
<li>_ oneshot's translation finished.</li>
</ul>

</div>


<p class="otsikot">The average daily wordcounts are:</p>
<div style="width:900px">
<ul>
<li>Monday: _ words.</li>
<li>Tuesday: _ words.</li>
<li>Other days: _ words.</li>
</ul>
<p>This makes the weekly average wordcount _ words.</p>
</div>

</div>



</body>
</html>