<!--This HTML code has been created by WindySilver to create a widget for displaying her quarterly art stats. You may not use this version of the widget. For the base source code, go to https://www.deviantart.com/windysilver . Thank you!-->
 <!DOCTYPE html>
<html>
<body>
<style>
div {margin: auto; text-align:center; border: solid; margin: 1em; width: 500px; display: inline-block; background-color:#d7d7d7;}
p{font-size: 28px; text-align: left; margin: 5px; font-family: Arial, sans-serif;}
.otsikot {font-weight: bold; font-size: 40px; color: #d7d7d7; -webkit-text-stroke: 1px; -webkit-text-stroke-color: black; text-align:center;}
li{text-align: left; font-size: 28px; font-family: Arial, sans-serif;}
</style>
<meta charset="UTF-8"> 


<div style="width:1100px; background-image:linear-gradient(#97ca97, #e5f5dc);">
<p class="otsikot">WindySilver's Art Progress</p>
<p class="otsikot">Q_➝Q_ 202_ Changes</p>
<p class="otsikot">Writing projects</p>
<br></br>

<span style="float:left;">
<p class="otsikot"><i>SW: Exceptional Jedi</i></p>
<div>
<p>_➝_ new chapters written: _%</p>
<p>_➝_ words written: _%</p>
<p>_➝_ words a day: _%</p>
</div>


<p class="otsikot"><i>TF: Behind Armada</i></p>
<div>
<p>_➝_ new chapters written: _%</p>
<p>_➝_ words written:_%</p>
<p>_➝_ words a Tuesday: _%</p>
</div>

<p class="otsikot"><i>Greenfield</i></p>
<div>
<p>_➝_ new chapters written: _%</p>
<p>_➝_ words written: _%</p>
<p>_➝_ words a day: _%<p>
</div>


</span>


<span style="float:right;">
<p class="otsikot"><i>TFP: The Fate's Way</i></p>
<div>
<p>_➝_ new chapters written: _%</p>
<p>_➝_ words written: _%</p>
<p>_➝_ words a Monday: _%</p>
</div>


<p class="otsikot"><i>CL: Lyokostar 1</i></p>
<div>
<p>_➝_ parts fully translated: _%</p>
<p>_➝_ words translated: _%</p>
<p>_➝_ words a day: _%</p>
</div>


<p class="otsikot"><i>CL: New War Remastered</i></p>
<div>
<p>_➝_ parts fully translated: _%</p>
<p>_➝_ words translated: _%</p>
<p>_➝_ words a day: _%</p>
</div>


</div>

<div style= "width:1200px; background-image:linear-gradient(#97ca97, #e5f5dc);">
<p class="otsikot">WindySilver's Art Progress</p>
<p class="otsikot">Q_➝Q_ 202_ Changes</p>
<p class="otsikot">Total</p>
<br></br>


<div style="width: 1100px;">
<ul>
<li>_➝_ works of art done:_%</li>
<li>_➝_ works of art currently standing by: _%</li>
<li>_➝_ words written for my projects: _%</li>
<li>_➝_ chapters fully written: _%</li>
<li>_➝_ oneshots written for my projects: _%</li>
<li>_➝_ non-project oneshots written: _%</li>
<li>_➝_ poems written: _%</li>
<li>_➝_ total words written: _%</li>
<li>_➝_ words translated from Finnish to English: _%</li>
<li>_➝_fully translated parts: _%</li>
</ul>

</div>


<p class="otsikot">The average daily wordcounts are:</p>
<div style="width:1000px">
<ul>
<li>Monday: _➝_ words: _%</li>
<li>Tuesday: ‬_➝_ words: _%</li>
<li>Other days: _➝_ words: _%</li>
</ul>
<p>The weekly average wordcount: _➝_ words: _%</p>
</div>

</div>



</body>
</html>